@mixin typographstyle($font,$size,$weight,$height,$color) {
    font-family: $font;
    font-size:$size ;
    font-weight:$weight ;
    line-height:$height ;
    color:$color ;
}
@mixin typographstyleicon($size,$color) {
    font-size:$size ;
    color:$color ;
}

//? mixin for responsive
@mixin responsive($devise) {
    @if ($devise == "phone") {
        @media (max-width: 575.98px) {  
            @content
        }
    }
    @else if($devise == "land-phone"){
        @media (max-width: 767.98px) { 
            @content
         }
    }
    @else if($devise == "tablet"){
        @media (max-width:991.98px) { 
            @content
         }
    }
    @else if($devise == "small_desktop"){
        @media (max-width: 1199.98px) { 
            @content
         }
    }
    @else if($devise == "big_desktop"){
        @media (max-width:  1399.98px) { 
            @content
         }
    }
}