// font
$main_font:'Roboto', sans-serif;
  
// color
// color_header
$color_bg_topmenu:#fffffff5;
$color_title_top_menu_span_1:#FD3F40;
$color_title_top_menu_span_2:#03A4ED;
$color_item_menu:#191a20 ;
$color_bg_btn_top_menu:#fe3f40;
$color_btn_top_menu:#fff;
$color_progress_bar:#f5ededde;
$color_date:#afafaf;
$color_bg_form:#D1F2FE;
$color_bg_responsive--menu:#f7f7f7;
