// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-top_menu{
    padding:10px 25px ;
    background-color: $color_bg_btn_top_menu;
    border-radius: 40px;
    color: $color_btn_top_menu;
    letter-spacing: .5px;
    @include responsive ("tablet") {
        display: none;

    }
}
.btn-top_menu:hover{
    background-color: $color_title_top_menu_span_2;
    transition:background-color .3s linear 0s;
}