.copy_right {
    width: 100%;
    text-align: center;
    margin: 20px 0 80px 0;
    padding: 0 35%;
    line-height: 1.5;
    @include responsive ("tablet") {
    padding: 0 15%;

    }
    span:hover {
        color: $color_title_top_menu_span_2;
        transition: all .3s ease;
    }
}